body{background: black url("1605553.jpg");
background-repeat: no-repeat;
background-size: cover;}
img{margin:60px 0px 0px 0x
border: 500px solid white;
border-radius: 100px;
width:150px}
h2{color: white;}
p{color: white;
font-size: 20px;}
.wrapper {
  text-align: center;
}
